this is my attempt at loading the behavioral files but there literally has to be a better way

## read files

In [2]:
import numpy as np
import scipy.io
import pandas as pd
import os

In [3]:
defaultdir = '/gpfs/radev/pi/saxena/aj764'
rootdir = f'{defaultdir}/Training_COOPERATION/'

In [4]:
all_sessions = pd.read_csv(rootdir + 'newSessions.csv')
first_sesh = pd.read_csv(rootdir + 'firstSession.csv')
first_lever = pd.read_csv(rootdir + 'firstLever.csv')
first_mag = pd.read_csv(rootdir + 'firstMag.csv')

## files

In [5]:
all_sessions # first level of table, has information for all sessions

,SessionNum,Date,Box,AnimalID,LearningType,Rank,Cond,GroupNum,SessionDur,LeverFR,...,CoopSuccMaxSm,CoopSuccMinSm,CoopSuccMedSm,CoopInflectionPt,SwitchLat,nTrials_1,nTrials_2,nTrials_3,firstLevPressLat_succ,firstLevPressLat_unsuc
0,1,28-Mar-2024,1,KL001B-KL001Y,IS,NaN,CoopTraining,KL001-KL001Y,2589,1,...,0.750000,0.0000,0.350000,57.0,7.005,0.0,0.0,74.0,NaN,NaN
1,2,28-Mar-2024,2,KL002B-KL002Y,IS,NaN,CoopTraining,KL002-KL002Y,2429,1,...,0.700000,0.0625,0.350000,NaN,8.245,0.0,0.0,71.0,NaN,NaN
2,3,28-Mar-2024,3,KL003G-KL003B,IS,NaN,CoopTraining,KL003-KL003B,2417,1,...,0.850000,0.0500,0.450000,NaN,8.280,0.0,0.0,87.0,NaN,NaN
3,4,28-Mar-2024,4,KL004R-KL004G,IS,NaN,CoopTraining,KL004-KL004G,2480,1,...,0.750000,0.0500,0.350000,159.0,8.530,0.0,0.0,75.0,NaN,NaN
4,5,29-Mar-2024,1,KL001B-KL001Y,IS,NaN,CoopTraining,KL001-KL001Y,3136,1,...,0.650000,0.0500,0.300000,NaN,7.055,0.0,0.0,77.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453,454,07-Feb-2025,1,NM002Y-NM002B,IS,NaN,NaN,NM,1423,1,...,0.800000,0.0000,0.300000,52.0,3.050,0.0,0.0,17.0,0.820,1.310
454,455,07-Feb-2025,2,NM005G-NM005R,IS,NaN,NaN,NM,1423,1,...,0.700000,0.0000,0.300000,NaN,4.075,0.0,0.0,31.0,1.000,1.500
455,456,07-Feb-2025,2,NM006B-NM006Y,IS,NaN,NaN,NM,1328,1,...,0.600000,0.0000,0.183333,NaN,5.635,0.0,0.0,18.0,1.180,1.365
456,457,07-Feb-2025,1,NM011R-NM011G,IS,NaN,NaN,NM,1328,1,...,0.900000,0.0000,0.300000,26.0,2.615,0.0,0.0,36.0,0.915,1.520
457,458,10-Feb-2025,4,NF021R-NF021G,IS,NaN,NaN,NF,2448,1,...,0.285714,0.0000,0.000000,NaN,8.100,0.0,0.0,3.0,5.470,7.730

In [7]:
first_sesh # second level of table, has information for all trials for the first sessions

,TrialNum,Date,SessionDur,trialStartTime,TrialDur,TrialCond,firstLevPressLat,nRePressBeforeCoop,leverID_first,leverID_coopSucc,coopSuccTrialLat,nRePressAfterCoop,coopSuccPressLat,HitLat,nMiss,nFA,nRevisit,leverArmAbsTime,delayDur,coopSucc
0,1,28-Mar-2024,2589,0.02,6.75,0,4.32,2,1,NaN,NaN,NaN,NaN,NaN,6,0,0,0.02,NaN,0
1,2,28-Mar-2024,2589,13.29,3.68,0,0.86,7,2,NaN,NaN,NaN,NaN,NaN,0,0,0,13.29,NaN,0
2,3,28-Mar-2024,2589,20.20,3.19,0,0.75,3,1,NaN,NaN,NaN,NaN,NaN,0,0,0,20.20,NaN,0
3,4,28-Mar-2024,2589,30.50,2.91,3,0.63,0,1,2.0,0.81,0.0,0.18,0.45,0,0,0,30.50,0.0,1
4,5,28-Mar-2024,2589,40.32,8.71,3,2.04,2,1,2.0,3.58,2.0,1.54,3.43,0,1,0,40.32,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,195,28-Mar-2024,2589,2486.51,2.30,0,2.30,0,2,NaN,NaN,NaN,NaN,NaN,0,0,0,2486.51,NaN,0
195,196,28-Mar-2024,2589,2495.36,7.67,0,4.22,5,1,NaN,NaN,NaN,NaN,NaN,0,0,0,2495.36,NaN,0
196,197,28-Mar-2024,2589,2506.13,4.49,0,1.88,3,2,NaN,NaN,NaN,NaN,NaN,0,0,0,2506.13,NaN,0
197,198,28-Mar-2024,2589,2517.36,6.58,3,5.40,0,1,2.0,6.02,0.0,0.62,NaN,0,0,0,2517.36,0.0,1
198,199,28-Mar-2024,2589,2562.10,17.47,0,1.77,4,2,NaN,NaN,NaN,NaN,NaN,0,0,0,2562.10,NaN,0

In [10]:
first_lever # third level of table, has lever pull information for first session's first trial

,TrialNum,LeverNum,AbsTime,TrialCond,DispTime,TrialTime,coopTS,coopSucc,Hit,TrialEnd,AnimalID
0,1,1,4.34,0,NaN,4.32,NaN,0,1,0,KL001B-KL001Y
1,1,1,4.50,0,NaN,4.48,NaN,0,-1,0,KL001B-KL001Y
2,1,1,6.77,0,NaN,6.75,NaN,0,-1,0,KL001B-KL001Y

In [11]:
first_mag # third level of table, has mag entry pull information for first session's first trial

,TrialNum,MagNum,AbsTime,Duration,TrialCond,DispTime,TrialTime,Hit,TrialEnd
0,1,1,1.50,0.00,NaN,NaN,NaN,0,0
1,1,1,5.15,0.06,NaN,NaN,NaN,0,0
2,1,1,10.23,0.00,NaN,NaN,NaN,0,0
3,1,1,19.15,0.00,NaN,NaN,NaN,0,0
4,1,1,21.21,0.00,NaN,NaN,NaN,0,0
5,1,2,23.74,0.00,NaN,NaN,NaN,0,0